extends layout

block content
  #intro
    span Hi. I'm Dean.
    img(src='images/face.png', class='face')
    span Sometimes I smile.

  ul#moreAbout
    li
      .right
        img(src='images/icons/github.png')
        span I write code. Lots of it. I speak in
        img(src='images/icons/coffeescript.png').coffeescript-logo
        span and
        img(src='images/icons/ruby.png').ruby-logo
        span Ruby.

      .clearfix
    li
      #music.left
        span I'm always listening to music.
        img(src='images/icons/lastfm.png')
      .clearfix
    li
      #books.right
        img(src='images/icons/goodreads.png')
        span I read all sorts of books.
      .clearfix
    li
      #twitter.left
        span I talk about programming.
        img(src='images/icons/twitter.png')
      .clearfix
    li
      #facebook.right
        img(src='images/icons/facebook.png')
        span I make jokes with my friends.
      .clearfix
    li
      #starter-league.left
        span I help people learn to code.
        img(src='images/icons/starter-league.png')
      .clearfix
    li
      #email.right
        img(src='images/icons/gmail.png')
        span I'm usually pretty good about email.
      .clearfix
