doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/jquery.min.js')
    script(src='/lib/underscore.js')
    script(src='/lib/backbone.js')
    script(src='/js/main.js')
    script(src='/views/codeView.js')
  body
    include shared/header
    #content
      block content
    .clearfix
    include shared/footer
