#books.section.books
  .background-white
    ul.inline
      li.left
      li.center
        img(src='images/icons/goodreads.png')
      li.right
        span I read all sorts of books.
  .more
    ul.inline.content
      li.right
        h3 I've Recently Read
        ul
        span Check out my reading lists on 
          a(href='http://www.goodreads.com/user/show/6540398-dean') Goodreads
          | .
    img(class="background", src="images/books.png", data-offset=200)
