#music.section.music
  .background-white
    ul.inline
      li.left
        span I'm always listening to music.
      li.center
        img(src='images/icons/lastfm.png')
      li.right
  .more
    ul.inline.content
      li.left
        h3 I'm Listening To
        ul
        span See more music I like on 
          a(href='http://last.fm/user/il1019') Last.FM
          | .
    img(class="background", src="images/cds.png", data-offset=120)
