#twitter.section.twitter
  .background-white
    ul.inline
      li.left
        span I talk about programming.
      li.center
        img(src='images/icons/twitter.png')
      li.right
  .more
    ul.inline.content
      li.left
        h3 What I'm Tweeting
        ul
        span Follow me on 
          a(href='https://twitter.com/pleiadeez') Twitter
          | .
    img(class="background", src='images/twitter-background.jpeg', data-offset=200)
