extends layout

block content
  #content
    link(rel='stylesheet', href='/css/style.css')
    #intro
      span Hi. I'm Dean.
      img(src='images/face.png').face
      span Sometimes I smile.

    table#moreAbout
      tbody
        tr
          td
          td
            a(href='code')
              img(src='images/icons/github.png')
          td
            span I write code. Lots of it. I speak in
            img(src='images/icons/coffeescript.png').coffeescript-logo
            span.code and
            img(src='images/icons/ruby.png').ruby-logo
            span.code Ruby.
        tr.code
          td
          td
          td
            .code.more.hide This is where the hidden content goes.
        tr
          td I'm always listening to music.
          td
            a(href='lastfm')
              img(src='images/icons/lastfm.png')
          td
        tr
          td
          td
            a(href='books')
              img(src='images/icons/goodreads.png')
          td I read all sorts of books.
        tr.books
          td
          td
          td
            .more.hide This is where the hidden content goes.
              img(class="background", src="http://images.wisegeek.com/antique-books-at-a-library.jpg")
        tr
          td I talk about programming.
          td
            a(href='twitter')
              img(src='images/icons/twitter.png')
          td
        tr
          td
          td
            a(href='facebook')
              img(src='images/icons/facebook.png')
          td I make jokes with my friends.
        tr
          td I help people learn to code.
          td
            a(href='starter-league')
              img(src='images/icons/starter-league.png').starter-league
          td
        tr
          td
          td
            a(href='gmail')
              img(src='images/icons/gmail.png')
          td I'm usually pretty good about email.
