extends layout

block content
  link(rel='stylesheet', href='/css/style.css')
  .background-white
    #intro
      span Hi. I'm Dean.
      img(src='images/face.png', class='face')
      span Sometimes I smile.

  #moreAbout
    include sections/code
    include sections/music
    include sections/books
    include sections/twitter

    #facebook.section.facebook
      .background-white
        ul.inline
          li.left
          li.center
            img(src='images/icons/facebook.png')
          li.right
            span I make jokes with my friends.
      .more
    #starter-league.section.starter-league
      .background-white
        ul.inline
          li.left
            span I help people learn to code.
          li.center
            img(src='images/icons/starter-league.png', class='starter-league')
          li.right
      .more
    #email.section.email
      .background-white
        ul.inline
          li.left
          li.center
            img(src='images/icons/gmail.png')
          li.right
            span I'm pretty good at email.
      .more
    .filler.background-white
